<div class="container">
  <mat-card class="card-container">
    <mat-card-header class="card-header">
      <mat-card-title>
          CLIENT PRODUCT INFO
      </mat-card-title>
    </mat-card-header>  
    <mat-card-content class="card-content">
      <div class="client-container">
        <mat-form-field appearance="fill" class="client-selection">
          <mat-label>Client</mat-label>
          <mat-select [formControl]="clientControl" required>
            <mat-option>--</mat-option>
            @if (clients.length > 0) {
              @for (client of clients; track client.id) {
                  <mat-option [value]="client" [disabled]="clients.length===0">{{client.firstName}} {{client.lastName}}</mat-option>
              }
            } 
          </mat-select>
          <mat-error *ngIf="clientControl.hasError('required')">
            Please choose a client
          </mat-error>
          <mat-hint *ngIf="clientControl.value">
            Email: {{clientControl.value.email}}, Phone: {{clientControl.value.phone}}
          </mat-hint>
        </mat-form-field>
        <div class="client-info">
          <!-- <p><strong>First Name:</strong> {{selectedClient?.firstName}}</p>
          <p><strong>Last Name:</strong> {{selectedClient?.lastName}}</p> -->
          <p><strong>Email:</strong> {{selectedClient?.email}}</p>
          <p><strong>Phone:</strong> {{selectedClient?.phone}}</p>
        </div>
      </div>
      <mat-tab-group class="tab-group" (selectedTabChange)="onTabChange($event)">
        <mat-tab label="Accounts">
          <div class="table-container">
            @if (isLoadingAccounts) {
              <mat-spinner></mat-spinner>
            } @else {
              <app-db-table
                  [dataSource]="dataSourceAccountProducts"
                  [columns]="columnsAP"
                  [displayedColumns]="displayedColumnsAP"
              ></app-db-table>
            }
          </div>
        </mat-tab>
        <mat-tab label="Loans">
          <div class="table-container">
            @if (isLoadingLoans) {
              <mat-spinner></mat-spinner>
            } @else {
              <app-db-table
                  [dataSource]="dataSourceLoanProducts"
                  [columns]="columnsLP"
                  [displayedColumns]="displayedColumnsLP"
              ></app-db-table>
            }
          </div>
        </mat-tab>
        <mat-tab label="Transactions">
          <div class="table-container">
            @if (isLoadingTransactions) {
              <mat-spinner></mat-spinner>
            } @else {
                <app-db-table
                  [dataSource]="dataSourceTransactions"
                  [columns]="columnsTR"
                  [displayedColumns]="displayedColumnsTR"
              ></app-db-table>
            }
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>